<!DOCTYPE html>
<html>
  <head>
  </head>
  <body>
    <h1>Get Access Token for Instagram</h1>
    <form action="/oauth/connect" method="POST">
      <p>
      <b>CLIENT ID</b>
      <input type="text" name="cid" />
      </p>
      <p>
      <b>CLIENT SECRET</b>
      <input type="text" name="csecret" />
      </p>
      <input type="submit" value="Connect with Instagram" />
    </form>
  </body>
</html>
